* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
 	box-sizing: border-box;
}

html, body{
	height: 100%;
}

body {
	background: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #3a3f4b;
	min-width: 320px;
}
.container{
  max-width: 990px;
}

/**/
/*img {
	max-width: 100%;
	height: auto;
}
*/
a, a:hover {
  text-decoration: none;
	color: #fff;
}

input:focus, .btn.focus, .btn:focus {
	outline: none;
  box-shadow: none;
}

.mb-2_5 {
  margin-bottom: .75rem!important;
} 

.color-purple {
  color: #cf3bfe;
}

/*header*/
.header {
	/*width: 1024px;*/
  /*height: 80px;*/
  background-color: #ffffff;
  box-shadow: 0 3px 6px -3px rgba(0, 0, 0, 0.2);
}

.header-top {
	background: #cf3bfe;
}

.header-top a {
  font-size: 14px;
  text-decoration: underline;
}

.btn-success {
	width: 172px;
  /*height: 36px;*/
  height: 32px;
  border-radius: 18px;
  background-color: #7ed321;
  border-color: #7ed321;
  line-height: 19px;
}
.btn-success:hover {
  color: #fff;
  background-color: #7ed321;
  border-color: #7ed321;
}

.btn-text {
	width: 106px;
  height: 19px;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.6px;
  /*text-align: left;*/
  margin-left: 19px;
}

.plus {
    font-size: 33px;
    line-height: 1px;
    position: absolute;
    left: 13px;
    top: 15px;
}

.btn-secondary {
	width: 136px;
  height: 36px;
  border-radius: 18px;
  background-color: #9b9b9b;
  border-color: #9b9b9b;
}

.btn-secondary:hover {
  background-color: #9b9b9b;
  border-color: #9b9b9b;
}

.btn-primary {
	width: 136px;
  height: 36px;
  border-radius: 18px;
  background-color: #cf3bfe;
  border-color: #cf3bfe;
}
.btn-primary:hover {
  background-color: #cf3bfe;
  border-color: #cf3bfe;
}

.header-block {
  height: 60px;
  line-height: 60px;
}
.input-search {
  width: 284px;
  height: 36px;
  border-radius: 18px;
  background-color: #f1f1f1;
  padding: 10px;
}
.wrap {
  display: flex;  
  justify-content: space-between; 
  /*width: 71%;*/
}

.search-button {
  text-align: center;
  line-height: 60px;
}

.search-block {
  position: relative;
  height: 40px;
  text-align: left;
}

.form-search {
  position: absolute;
}

.close-search{
  position: absolute;
    top: 22%;
    right: 3%;
}

.you_number {
  font-weight: 600;
  letter-spacing: -0.6px;
  vertical-align: middle;
}

.dropdown.show .btn.dropdown-toggle{
  transform: rotate(180deg);
}

.btn.dropdown-toggle {
  background: transparent;
}

.dropdown-toggle::after {
  content: none;
}   

.dropdown-menu {
  top: 15px !important;
  border-color: transparent;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  box-shadow: 0 3px 6px -3px rgba(0, 0, 0, 0.2);
  padding-left: 13px;
  padding-right: 8px;
  line-height: 1.5;
}

.dropdown-item {
  padding: .25rem 3rem .25rem .25rem;
}

.dropdown-item span {
  width: 17px;
}

/*section-info*/
.section-info .number{
  font-size: 28px;
  font-weight: 200;
  line-height: 1;
}

.section-info .text{
  font-size: 13px;
  font-weight: 600;
}

.section-info .line{
  line-height: 47px;
}


/*section-quest*/
.contest {
	position: absolute;
	top: 8px;
  width: 75px;
  height: 18px;
  background-color: #ffffff;
  font-size: 11px;
  font-weight: 600;
  color: #4a4a4a;
}

.quest-gradient {
  position: absolute;
  bottom: 0;
  width: 312px;
  height: 60px;
  opacity: 0.7;
  background-color: #cf3bfe;
}

.link {
	position: absolute;
	bottom: 0;
  width: 312px;
  padding: 15px;
}

.link .link-text{
	width: 201px;
  height: 44px;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.1;
  color: #ffffff;
}


/*line*/
hr{
  height: 1px;
  background-color: #ccc;
  border: none;
  text-align: center;
}
.hr-top:before, .hr-bottom:before, .hr-choice:before {
  content: "TOP PHOTOS";
  position: relative;
  top: -10px;
  background-color: white;
  padding: 2px 5px;
  color: #000;
}
.hr-bottom:before {
  content: "NEWS";
}
.hr-choice:before {
  content: 'EDITOR’S CHOICE';
}

/*photo-block*/
.photo-block{
  position: relative;
  width: 312px;
  height: 312px;
  display: inline-flex;
  background: #d8d8d8;
}
.photo-wrap {
  display: inline-block;
  position: relative;
  height: 312px;
  width: 312px;
}
.photo-large {
  cursor: pointer;
  height: 312px;
  width: 312px;
}
.photo-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 78px; 
  /*height: 35%;*/
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #282828);
  background-blend-mode: multiply;
}

.photo-info-wrap {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  letter-spacing: -0.6px;
  opacity: 0;
  /*background-image: linear-gradient(135deg, #3023ae, #c86dd7);*/
  /* background-image: linear-gradient(#9b9b9b, #9b9b9b);
  background-blend-mode: multiply; */
  background-color: rgba(74, 74, 74, 0.65);
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
  }

.photo-info-wrap:hover {
  opacity: 0.85;
}

.photo-rating {
  display: flex;
  justify-content: space-around;
  width: 250px;
  margin: auto;
}
.photo-loaded {
  font-size: 13px;
}

.ava {
  display: inline-block;
  width: 37px;
  height: 37px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  /*border: 2px solid transparent;*/
}
.photo-user {
  /*opacity: 1;*/
  bottom: 13px;
  left: 14px;
  position: absolute;
  /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #282828);
  background-blend-mode: multiply; */
 /*  display: table;
 right: 22px;
 text-align: left; */
  }
  
 .user-info {
  display: inline-block;
  vertical-align: middle;
  /*color: #fff;*/
  margin-left: 7px;
}
.user-info h3 {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: -0.6px;
}
.user-info p {
  font-size: 12px;
  letter-spacing: -0.5px;
}
.user-info a {
  color: #f1f1f1;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 13px;
  font-weight: 600;
}


/*section-choice*/
.photo-choice {
  width: 150px;
  height: 144px;
  background-color: #d8d8d8;
}


/*section-news*/
.news-block {
  display:  flex;
  background-color:  #fff;
  box-shadow: 0 3px 6px -3px rgba(0, 0, 0, 0.2);
}

.padding-10 {
  padding: 10px;
}

.news-info_block {
  display: flex;
  justify-content:  space-between;
}

.news-info_left {
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #9b9b9b;
}

.news-info_right {
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #9b9b9b;
}

.news-info_h3 {
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.06;
  letter-spacing: normal;
  text-align: left;
  color: #4a4a4a;
}

.news-info_h3 span {
  text-transform: uppercase;
}

.news-info_p {
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #4a4a4a;
}


/*footer*/
.footer-bg {
  background-color: #f1f1f1;
}
.nav-link {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: -0.5px;
  color: #4a4a4a;
}
.nav-link:hover {
  text-decoration: underline;
  color: #4a4a4a;
}

.lang-link {
  font-size: 10px;
  font-weight: 600;
  letter-spacing: -0.4px;
  text-align: left;
  color: #9b9b9b;
}
.lang-link:hover {
  color: #9b9b9b;
}

.lang_achor {
  display: flex; 
  justify-content: center;
  flex-wrap: wrap; 
}

.flag-block {
  width: 85px;
}

.foot-copy {
  font-size: 10px;
  font-weight: 600;
  letter-spacing: -0.4px;
  color: #9b9b9b
}

/* .photo-block:nth-child(n+4)  {
    margin-right: 0rem!important; 
  } */

@media (max-width: 1199px) {
  .mr-2_5 {
    margin-right: .75rem!important; 
  }
}

/* @media (max-width: 1010px) {
  .photo-block:nth-child(n+3) {
    margin-right: 0rem!important; 
  }
}
 */

@media (max-width: 575px) { 
  .wrap {
    width: 92%;
  }

}
@media (max-width: 500px) {
  .photo-block {
    margin-right: 0rem!important; 
  }
}


