.form-send {
  .text-area-comment {
    width: 474px;
    height: 60px;
    border-radius: 6px;
    background-color: #f1f1f1;
    border-color: #f1f1f1;
    padding: 10px 15px;
    //text-align: left;
  }
  .form-send_btn {
    width: 77px;
    height: 21px;
    border-radius: 10.5px;
    background-color: #9b9b9b;
    border: none;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #fff;
    &.green {
      color: #befa82;
      background: #7ed321;
    }
  }
}

.comment {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 15px;
  padding-bottom: 0px;
  position: relative;
  h2, h3, p, span {
    margin: 0;
    padding: 0;
  }
  &:nth-child(1) {
    margin-top: 0;
  }
  .avatar-wrap {
    width: 44px;
    height: 44px;
    /*background-color: #d8d8d8;
    border-radius: 50%;*/
    & img {
      border-radius: 50%;
    }
  }
  &-right-side {
    width: calc(100% - 54px);
  }
  .comment-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .left-side {

    }
    .right-side {
    }
    .user-name {
      font-size: 12px;
      color: #4a4a4a;
      font-weight: 600;
    }
    .user-nick {
      margin-top: 3px;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.5px;
      color: #4a4a4a;
    }
    .comment-time {
      margin-right: 10px;
      font-size: 12px;
      font-weight: 600;
      color: #d8d8d8;
      display: inline-block;
      vertical-align: middle;
    }
    .comment-menu_btn {
      display: inline-flex;
      vertical-align: middle;
    }
  }
  .comment-text {
    margin-top: 10px;
    font-size: 14px;
    color: #4a4a4a;
    border-bottom: 1px solid #d8d8d8;
  }
  .comment-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //border-bottom: 1px solid #d8d8d8;
    padding-bottom: 5px;
    .left-side {
      min-width: 50%;
    }
  }
  &_reply, &_translate {
    font-size: 12px;
    font-weight: 600;
    color: #4a4a4a;
    cursor: pointer;
    &:hover {
      color: #cf3bfe;
    }
  }
  &_translate {
    margin-left: 24px !important;
  }
  &_likes {
    cursor: pointer;
    &:hover{
      .comment_like-ico {
        g{
          fill: #cf3bfe !important;
          stroke: #cf3bfe !important;
        }
      }
      .comment_count-likes{
        color: #cf3bfe;
      }
    }
  }
  &_like-ico {
    width: 19px;
    height: 17px;
    display: inline-block;
    vertical-align: middle;
    g{
      fill: #4A4A4A;
      stroke: #4A4A4A;
    }
  }
  &_count-likes {
    display: inline-block;
    vertical-align: middle;
    width: 26px;
    height: 15px;
    font-size: 12px;
    font-weight: 600;
    color: #4a4a4a;
  }
}

.dropdown-menu_comment {
  position:  absolute;
  right:  0;
  z-index:  1000;
  top: 29px;

  &-block {
    width: 205px;
    min-height: 89px;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    height:  auto;
    padding: 10px 0;
  }

  &-item {
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a4a;
    padding: .25rem 1.5rem;
    &:hover {
      text-decoration: none;
      background-color: #f8f9fa;
      color: #4a4a4a;

    }
  }
}



/*
.dropdown-menu_comment-block {
  width: 205px;
  min-height: 89px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  height:  auto;
  padding: 10px 0;
}
.dropdown-menu_comment-item {
  display: block;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #4a4a4a;
  padding: .25rem 1.5rem;

}
.dropdown-menu_comment-item:hover {
  text-decoration: none;
  background-color: #f8f9fa;
  color: #4a4a4a;
}*/


@media (max-width: 767px) {
  .form-send .text-area-comment {
    max-width: 100%;
  }
}