.form-send {
  .text-area-comment {
    width: 474px;
    height: 60px;
    border-radius: 6px;
    background-color: #f1f1f1;
  }
  .form-send_btn {
    width: 77px;
    height: 21px;
    border-radius: 10.5px;
    background-color: #9b9b9b;
    border: none;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: -0.5px;
    color: #d8d8d8;
    &.green {
      color: #befa82;
      background: #7ed321;
    }
  }
}

.comment {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px;
  &:nth-child(1){
    margin-top: 0;
  }
  .avatar-wrap {
    width: 44px;
    height: 44px;
    /*background-color: #d8d8d8;
    border-radius: 50%;*/
    & img {
      border-radius: 50%;
    }
  }
  &-right-side {
    width: calc(100% - 54px);
  }
  .comment-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .left-side {

    }
    .right-side {
    }
    .user-name {
      font-size: 12px;
      color: #4a4a4a;
    }
    .user-nick {
      font-size: 12px;
      font-weight: 600;
      letter-spacing: -0.5px;
      color: #4a4a4a;
    }
    .comment-time {
      margin-right: 10px;
      font-size: 12px;
      font-weight: 600;
      color: #d8d8d8;
      display: inline-block;
      vertical-align: middle;
    }
    .comment-menu_btn {
      display: inline-flex;
      vertical-align: middle;
    }
  }
  .comment-text {
    font-size: 14px;
    color: #4a4a4a;
  }
  .comment-actions {

  }
}
