




/*section-quest*/
.contest {
  position: absolute;
  top: 8px;
  width: 75px;
  height: 18px;
  background-color: #ffffff;
  font-size: 11px;
  font-weight: 600;
  color: #4a4a4a;
}

.quest-gradient {
  position: absolute;
  bottom: 0;
  max-width: 312px;
  width: 100%;
  height: 60px;
  opacity: 0.7;
  background-color: #cf3bfe;
}

.link {
  position: absolute;
  bottom: 0;
  max-width: 312px;
  width: 100%;
  padding: 15px;
}

.link .link-text{
  width: 201px;
  height: 44px;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.1;
  color: #ffffff;
}


/*line*/
.line-block {
  text-align:  center;
  margin-top: 15px;
  height: 8px;
  &-img {
    display:  block;
    border-top: 1px solid #9b9b9b;;
    width: 100%;
  }
  &-link {
    position:  relative;
    bottom: 18px;
    display: inline-block;
    font-size: 18px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-transform:  uppercase;
    padding: 5px 22px;
    background:  #fff;
    font-weight: 300;
    color: #4a4a4a;
    z-index:  10;
    &:hover {
      color: #000;
    }
  }
}



/*
hr{
  height: 1px;
  background-color: #ccc;
  border: none;
  text-align: center;
}
.hr-top:before, .hr-bottom:before, .hr-choice:before {
  content: "TOP PHOTOS";
  position: relative;
  top: -10px;
  background-color: white;
  padding: 2px 5px;
  color: #000;
}
.hr-bottom:before {
  content: "NEWS";
}
.hr-choice:before {
  content: 'EDITOR’S CHOICE';
}
*/




/*section-choice*/
.photo-choice {
  width: 150px;
  height: 144px;
  background-color: #d8d8d8;
}


/*section-news*/
.news-block {
  display:  flex;
  background-color:  #fff;
  box-shadow: 0 3px 6px -3px rgba(0, 0, 0, 0.2);
}
.news-block_img {
  max-width: 140px;
}

.padding-8 {
  padding: 8px;
}

.news-info_block {
  display: flex;
  justify-content: space-between;
}

.news-info_left {
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #9b9b9b;
}

.news-info_right {
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #9b9b9b;
  margin-bottom: 14px;
}

.news-info_h3 {
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: left;
  color: #4a4a4a;
  text-transform: uppercase;
}

.news-info_p {
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  //line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #4a4a4a;
}

/*.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}*/
/*
.equal, .equal > div[class*='col-'] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex:1 0 auto;
}*/
/*
.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.display-flex > .news-info_block {
  display: flex;
  flex-direction: column;
}*/

/*footer*/
.footer-bg {
  background-color: #f1f1f1;
}
.nav-link {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: -0.5px;
  color: #4a4a4a;
}
.nav-link:hover {
  text-decoration: underline;
  color: #4a4a4a;
}

.lang-link {
  font-size: 10px;
  font-weight: 600;
  letter-spacing: -0.4px;
  text-align: left;
  color: #9b9b9b;
}
.lang-link:hover {
  color: #9b9b9b;
}

.lang_achor {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flag-block {
  width: 85px;
}

.foot-copy {
  font-size: 10px;
  font-weight: 600;
  letter-spacing: -0.4px;
  color: #9b9b9b
}

/* .photo-block:nth-child(n+4)  {
    margin-right: 0rem!important;
  } */

@media (max-width: 1199px) {
  .mr-2_5 {
    margin-right: .75rem!important;
  }
}

/* @media (max-width: 1010px) {
  .photo-block:nth-child(n+3) {
    margin-right: 0rem!important;
  }
}
 */

@media (max-width: 575px) {
  .wrap {
    width: 92%;
  }

}
@media (max-width: 500px) {
  .photo-block {
    margin-right: 0rem!important;
  }
}
