.user-view-page {
  h2, h3, p, span {
    margin: 0;
    padding: 0;
  }

  .section-gallery-top {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 200px;
    max-width: 960px;
    padding: 0;
  }

  .section-gallery-top_wrap {
    padding-top: 30px;
    height: 122px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    /*background-blend-mode: multiply;*/
  }

  .gallery_user-name {
    font-size: 22px;
    letter-spacing: -0.9px;
    color: #ffffff;
    text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.5);
  }

  .gallery_user-nick, .gallery_user_location {
    margin-top: 5px;
    font-size: 14px;
    color: #ffffff;
    text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  .gallery_user_location {
    img{
      margin-top:  -5px;
    }
  }
  .gallery-ava_big {
    border-radius: 50%;
    width: 150px;
    //height: 150px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  }

  .section-gallery-info {
    margin-top: 15px;
  }

  .info-wrap {
    display: flex;
    margin-right: 40px;
  }

  .info-wrap:nth-child(1) {
    margin-left: 180px;
  }

  .info-wrap .gallery-info_ico {
    //width: 21px;
    margin-top: 5px;
    margin-right: 7px;
  }

  .gallery-info_numbers {
    font-size: 20px;
    font-weight: 300;
    color: #4a4a4a;
  }

  .gallery-info_description {
    font-size: 13px;
    font-weight: 600;
    //letter-spacing: -0.5px;
    letter-spacing: normal;
    text-align: left;
    color: #9b9b9b;
  }

  .gallery_send-message {
    cursor: pointer;
    background: none;
    width: 162px;
    height: 31px;
    border-radius: 19px;
    border: solid 1px #7ed321;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 28px;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
    transition: .3s all;
    & .mes-white {
      display: none;
    }
    &:hover {
      background: #7ed321;
      color: #fff;
      & .mes-white {
        display: inline-block;
      }
      & .mes-green {
        display: none;
      }
    }

  }

  .gallery_share-profile {
    cursor: pointer;
    background: none;
    width: 162px;
    height: 31px;
    border-radius: 19px;
    border: solid 1px #4a4a4a;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 28px;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
    transition: .3s all;
    &:hover {
      background: #f5f5f5;
      border: solid 1px #f5f5f5;
    }
  }

  .gallery-bottom {
  }

  .gallery-bottom_title {
    font-size: 20px;
    letter-spacing: -0.8px;
    color: #4a4a4a;
  }

  .gallery-bottom_description {
    margin-top: 10px;
    font-size: 14px;
    color: #4a4a4a;
  }

  .gallery-bottom {
    &_wrap {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    &_left-side {
      width: 400px;
    }
    &_right-side {
      width: 474px;
    }
  }
  .comments-section {

  }
  .comments-wrap {
    padding-right: 25px;
    margin-top: 20px;
    max-height: 260px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
  }
}

.modal-show {
  .overlay {
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(74, 74, 74, 0.65);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
  .modal-block {
    display: none;
    max-width: 414px;
    width: 100%;
    height: 225px;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 20px;
    //border: 1px solid #000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;

    &-close {
      position: absolute;
      right: 6px;
      top: 3px;
      cursor: pointer;
    }
    &-title {
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #4a4a4a;
      width: 315px;
      height: 36px;
      margin-bottom: 14px;
    }
    &-src {
      max-width: 363px;
      width: 100%;
      height: 27px;
      border-radius: 3px;
      border: 1px solid #ccc;
      padding: 10px;
      margin-bottom: 23px;
      background: #fff;
      font-size: 12px;
      line-height: 5px;
    }
    &-social {
      font-size: 14px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      //text-align: left;
      color: #4a4a4a;
      /* vertical-align:  middle; */
      margin-bottom: 10px;

      &-img {
        margin-right: 11px;
      }
    }
  }
}

//.justify-content-lg-between

@media (max-width: 992px) {
  .user-view-page {
    .gallery_send-message {
      //display: block;
      //margin: 20px auto 0 auto;
    }
    .user-info-row {
      flex-wrap: wrap;
    }
    .user-view-page .gallery_send-message {
      display: block;
      margin: 20px auto 0 auto;
    }
  }
}

@media (max-width: 767px) {
  .user-view-page {
    .gallery-bottom {
      &_wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
      }
      &_left-side {
        width: auto;
        margin: 0 auto;
      }
      &_right-side {
        width: 474px;
      }
    }
  }
}

@media (max-width: 500px) {
  .user-view-page {
    .gallery-bottom {
      &_right-side {
        width: 95%;
      }
    }
  }
}